<div class="panel panel-default">
  <div class="panel-heading"></div>
  <ul class="list-group">
    <% @all_articles.each do |article| %>
      <li class="list-group-item">
        <h4>
        <%= image_tag avatar_url(article.user, 30) %>
        <%= link_to article.title, user_article_path(article.user, article) %>
      </h4>
      </li>
    <% end %>
  </ul>
  <div class="panel-footer">
    <%= paginate @all_articles %>
  </div>
</div>