<table class="table">
<tbody>
  <% @all_articles.each do |article| %>
    <tr>
      <td><h4><%= link_to article.title, user_article_path(article.user, article) %></h4></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @all_articles %>