<div class="panel panel-default">
  <div class="panel-heading"></div>
  <ul class="list-group">
    <% @all_articles.each do |article| %>
      <li class="list-group-item">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        <h4><%= link_to article.title, user_article_path(article.user, article) %></h4>
=======
=======
>>>>>>> c9ec5ef... 使用 gravatar 生成用户头像
=======
>>>>>>> 60bef676c588b3c186e743e0afdd210e4abf16c2
        <h4>
        <%= image_tag avatar_url(article.user, 30) %>
        <%= link_to article.title, user_article_path(article.user, article) %>
      </h4>
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> b3b7667... 去掉无用的代码
=======
>>>>>>> c9ec5ef... 使用 gravatar 生成用户头像
=======
>>>>>>> 60bef676c588b3c186e743e0afdd210e4abf16c2
      </li>
    <% end %>
  </ul>
  <div class="panel-footer">
    <%= paginate @all_articles %>
  </div>
</div>