<div class="panel panel-default">
  <ul class="list-group">
    <% @articles.each do |article| %>
      <li class="list-group-item">
        <%= link_to article.title, user_article_path(article.user, article) %>
      </li>
    <% end %>
  </ul>

</div>