<table class="table">

<tr>
  <td><strong>用户名</strong></td>
  <td><%= @user.user_name %></td>
</tr>

<tr>
  <td><strong>Email</strong></td>
  <td><%= @user.email %></td>
</tr>

<!-- <p>
  <strong>Email:</strong>
  <%= @user.email %>
</p> -->

</div>
</table>

<%= link_to '编辑', edit_user_path(@user) %><br>