<div class="panel panel-default">
  <!-- <div class="panel-heading">Panel heading without title</div> -->
  <div class="panel-body text-center">
  <%= link_to github_path, class: 'btn btn-success btn-lg btn-block' do%>
    <strong>GitHub帐户登录</strong>
  <% end %>
  <%= link_to stackoverflow_path, class: 'btn btn-success btn-lg btn-block' do%>
    <strong>StackOverflow帐户登录</strong>
  <% end %>
</div>
</div>