<div class="panel panel-success">
  <!-- <div class="panel-heading">Panel heading without title</div> -->
  <div class="panel-body text-center">
  <%= link_to "新建文章", new_user_article_path(current_user), class: 'text-center'%>
</div>
</div>