<div class="panel panel-default">
  <!-- <div class="panel-heading">Panel heading without title</div> -->
  <div class="panel-body text-center">
  <%= link_to new_user_article_path(current_user), class: 'btn btn-success' do%>
    <span class="glyphicon glyphicon-pencil"><strong> 写篇文章吧！</strong></span>
  <% end %>
</div>
</div>