<div class="panel panel-default">
  <div class="panel-heading">统计信息</div>
  <ul class="list-group">
    <li class="list-group-item"><%= '用户数:' + User.count.to_i.to_s %></li>
    <li class="list-group-item"><%= '文章数:' + Article.count.to_i.to_s %></li>
  </ul>
</div>