<div class="panel panel-default">
  <ul class="list-group">
      <li class="list-group-item">
        <%= image_tag avatar_url(current_user, 80), class: "center-block img-circle" %>
        <h5 class="text-center"><%= current_user.user_name %></h5>
      </li>
      <li class="list-group-item text-center">
      </li>
<!--       <li class="list-group-item text-center"><%= current_user.user_name %></li> -->
  </ul>
</div>